.git/
.github/
.vscode/
.idea/

.venv/
venv/
env/

__pycache__/
*.py[cod]
*.so

.pytest_cache/
.mypy_cache/
.ruff_cache/
.nox/
.tox/
.coverage
.coverage.*
htmlcov/

.ipynb_checkpoints/

build/
dist/
*.egg-info/

.env
.env.*

logs/
research/
tests/

artifacts/.chromadb/
artifacts/.docstore/
